@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit", serif;
}
.animation {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

.nav:hover .logout {
  display: flex;
  flex-direction: column;
  padding: 12px 25px;
  align-items: center;
  padding-left: 9px;
  gap: 10px;
  background: #fff2ef;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
}
